<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
        <div class="form-group">
          <label for="taskToDo">Task to do</label>
          <input type="text" [(ngModel)]="task.taskToDo" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter the task you have to do"
            required #name="ngModel">
        </div>
        <button type="submit" [disabled]="!taskForm.form.valid" 
          class="btn btn-info">Add task</button>
      </form>
    </div>
</div>