<!-- Navigation bar -->
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a style="margin-left: 10px; margin-right: 10px;" (click)="setShowFormAddList()" class="btn btn-dark">Add List</a>
            </li>
            <li class="nav-item" *ngFor="let tasksList of tasksLists">
              <a class="nav-link" [ngClass]="{'active': tasksList == selectedList}" (click)="setSelectedList(tasksList.tasksListId)">{{ tasksList.name }}</a>
            </li>
          </ul>
    </div>
    <div class="card-body">
        <!-- New List form -->
        <div *ngIf="showForm">
            <div class="card-body">
              <form (ngSubmit)="onSubmitList()" #taskForm="ngForm">
                <div style="margin: 0px;" class="form-group">
                  <input style="margin-top: 20px;" type="text" [(ngModel)]="formTasksList.name" 
                    class="form-control" 
                    name="name" 
                    placeholder="Enter a list name"
                    required #name="ngModel">
                </div>
                <button style="margin: 10px;" type="submit" [disabled]="!taskForm.form.valid" 
                  class="btn btn-primary">Add list</button>
              </form>
            </div>
        </div>

        <!-- Tasks list -->
        <table class="table table-bordered table-striped" *ngIf="showList">
            <tbody>
            <tr *ngFor="let task of selectedList.tasksList">
                <td class="col-md-1"><input type="checkbox" [(ngModel)]="task.done" (change)="checkTask(task.id, task.done)" /></td>
                <td style="text-align: left;">{{ task.taskToDo }}</td>
                <td class="col-md-2"><button (click)="deleteTask(task.id)" class="btn btn-danger">Delete task</button></td>
            </tr>
            <tr>
                <td></td>
                <td style="padding: 0px;">
                    <input style="padding: 10px; width:100%" type="text" [(ngModel)]="formTask.taskToDo" 
                        name="taskToDo" 
                        placeholder="Task to do">
                </td>
                <td class="col-md-2"><button type="submit" (click)="onSubmitTask()" class="btn btn-primary" [disabled]="!formTask.taskToDo">Add task</button></td>
            </tr>
            <tr>
                <td colspan="3"><button (click)="deleteCurrentTasksList()" class="btn btn-danger">Delete this list</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>