<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
        <tbody>
          <tr *ngFor="let task of tasks">
            <td class="col-md-1"><input type="checkbox" [(ngModel)]="task.done" (change)="checkTask(task.id, task.done)" /></td>
            <td style="text-align: left;">{{ task.taskToDo }}</td>
            <td class="col-md-2"><button (click)="deleteTask(task.id)" class="btn btn-danger">Delete task</button></td>
          </tr>
          <tr>
            <td style="padding: 0px;" colspan="2" scope="colgroup">
                <input type="text" [(ngModel)]="task.taskToDo" 
                    name="taskToDo" 
                    placeholder="Task to do">
            </td>
            <td class="col-md-2"><button (click)="onSubmit()" class="btn btn-secondary">Add task</button></td>
        </tr>

        </tbody>
      </table>
    </div>
</div>