<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task to do</th>
            <th scope="col">Done</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.taskToDo }}</td>
            <td><input type="checkbox" [(ngModel)]="task.done" (change)="checkTask(task.id, task.done)" /></td>
            <td><button (click)="deleteTask(task.id)" class="btn btn-danger">Delete task</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>