<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task to do</th>
            <th scope="col">Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.taskToDo }}</td>
            <td>{{ task.done }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>